body {
  font-family: Arial, sans-serif;
}

.my-custom-background {
  background-color: #ffffff;
  /* A custom orange */
  color: #f66200;
}

#sortCost:hover {
  text-decoration: underline;
}


